<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter Movie Name"
      formControlName="name"
    />
  </div>
  <div class="form-group">
    <label for="category">category</label>

    <select
      class="form-control"
      id="category"
      placeholder="category"
      formControlName="category"
    >
      <option *ngFor="let cat of cats.cats" [value]="cat">
        {{ cat }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="year">year</label>
    <input
      type="number"
      class="form-control"
      id="year"
      placeholder="year"
      formControlName="year"
    />
    <div *ngIf="form.get('year').errors as yearErrors">
      <small class="text-danger"
        >year should be between {{ yearErrors.year.min }} &
        {{ yearErrors.year.max }}</small
      >
    </div>
  </div>

  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="isFavorite"
      formControlName="isFavorite"
    />
    <label class="form-check-label" for="isFavorite">Favorite</label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
    Submit
  </button>
</form>
